.GalleryDiv{
    max-width: 100vw;
    overflow-x: hidden;
}

.GalleryDiv .headerDiv{
    position: fixed;
}

.GalleryHeader{
    color: var(--pDark);
    margin: -1rem 1rem 1rem 3rem;
    font-size: 4rem;
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light);
    margin-bottom: 3rem;
}

.GalleryContainer{
    min-height: 100vh;
    margin-top: 11rem;
    padding: 1rem;
    cursor: row-resize;
}

.GalleryContainer li{
    list-style: none;
}

.GalleryImage{
    margin: 1rem;
    border-radius: 1rem;
    object-fit: contain;
    max-width: 30vw;
}

@media only screen and (width<768px) {
    .GalleryHeader{
        font-size: 5rem;
    }

    .GalleryImage{
        max-width: 90vw;
    }
}
