.GalleryDiv{
    max-width: 100vw;
}

.GalleryHeader{
    color: var(--pDark);
    margin: -1rem 1rem 1rem 3rem;
    font-size: 4rem;
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light);
    margin-bottom: 3rem;
}

.GalleryContainer{
    margin-top: 5rem;
    padding: 1rem;
    cursor: row-resize;
}

.GalleryContainer li{
    list-style: none;
}

.GalleryImage{
    margin: 1rem;
    border-radius: 1rem;
    object-fit: contain;
    max-width: 30vw;
}
