/* footer styling */
.bookFooter > .contactContainer{
    display: none;
}

.bookFooter{
    width: auto;
}

.bookLinks{
    flex-direction: row;
    width: 100%;
    margin: 0;
    justify-content: space-around;
}

.BookContainer{
    width: 100vw;
    color: var(--pDark);
    margin-bottom: 5rem;
}

.BookContainer h2{
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light);
}

/* booking styling  */

/* Personal Details Styling */
.detailsContainer{
    display: flex;
    gap: 5rem;
    margin: 5rem;
    padding: 2rem;
    margin-bottom: 0;
}

.detailsInnerContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detailsLabel{
    font-size: 2rem;
}

.detailsForm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}

.detailsInput{
    background: var(--light);
    padding: 2rem;
    padding-top: 1rem;
    max-width: 30vw;
    border-radius: 1rem;
    box-shadow: 0 0 30px 0 rgba(46, 87, 107, 0.5);
}

.detailsForm *{
    font-family: "Alice", serif!important;
    color: var(--pDark);
    font-size: 1.1rem!important;
}

/* Service Details Styling */
.serviceContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 5rem;
    margin-top: 0;
    padding: 2rem;
    margin-bottom: 0;
}

.serviceLabel{
    all: unset!important;
    font-size: 2rem!important;
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light)!important;
}

.serviceOptionContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
}

.serviceOption{
    background: var(--light);
    box-shadow: 0 0 30px 0 rgba(46, 87, 107, 0.5);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 30vw;
    display: flex;
    gap: .5rem;
    transition: all .6s;
}

.contentWrap > h5{
    margin-top: .2rem;
    font-size: .9rem;
}

.contentWrap > p{
    margin-top: .5rem;
    font-size: 1rem;
}

.checked{
    background: var(--pDark);
    color: var(--light);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4) inset;
}

/* Date Styling */
.dateContainer{
    display: flex;
    margin:0 5rem;
    padding: 2rem;
}

.dateInnerContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dateInnerContainer .rdrMonths{
    justify-content: center;
}

.dateRange{
    border-radius: 1rem;
    font-size: 1rem!important;
    flex-direction: column!important;
    gap: 2rem;
    margin: 2rem;
    width: 30vw;
    box-shadow: 0 0 40px 0 rgba(46, 87, 107, 0.3);
}

.dateRange *{
    font-size: 1rem!important;
}

.rdrDateDisplayWrapper{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.dateLabel{
    font-size: 2rem!important;
}

.dateRangeNumber{
    margin: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-top: 2rem;
}

/* Time Styling */
.timeContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 5rem;
    margin-top: 0;
    padding: 2rem;
    margin-bottom: 0;
}

.timeLabel{
    font-size:2rem;
}

.timeInput{
    font-family: "Alice", serif!important;
    color: var(--dark)!important;
    font-size: 1.1rem!important;
}

.timeInputContainer{
    margin: 2rem;
}

.noShowTime{
    display: none;
}

/* Price Styling */
.submitContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 5rem;
    padding: 2rem;
}

.submitLabel{
    font-size: 2rem;
}

.estimatedPriceContainer{
    margin: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-top: 2rem;
}

.priceEstimateNotice{
    margin: 2rem;
    margin-top: -2rem;
}

.bSubmitBooking{
    align-self: flex-end;
    font-size: 2rem;
    background: var(--pDark);
    color: var(--light);
    background-image: linear-gradient(var(--primary), var(--primary));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 0% 0%;
}

.bSubmitBooking:hover, .bSubmitBooking:focus{
    background-size: 100% 100%;
}

.bSubmitBooking:before, .bSubmitBooking:after{
    background: var(--primary);
}

/* Dialog styling */
.dialogConfirm .MuiDialog-paper{
    padding: 2rem;
    border-radius: 2rem;
    max-width: 70vw;
    color: var(--pDark);
    display: flex;
    gap: 2rem;
}

.dialogConfirmHeader{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 0.3rem 0.3rem 0.2rem var(--pLight);
}

.dialogConfirmParagraph{
    font-size: 1.2rem;
}

.buttonContainerDialog{
    display: flex;
    justify-content: space-around;
}

.dialogButton{
    font-size: 1.6rem;
}

.bCancelBooking{
    border: 0.1rem solid transparent;
    background: none;
    border-radius: 9999rem;
    font-family: "Alice", serif;
    cursor: pointer;
    color: var(--pDark);
    transition: all .3s;
    padding: 1rem;
}

.bCancelBooking:hover, .bCancelBooking:focus{
    border: 0.1rem solid var(--pDark);
}

.dialogSend .MuiDialog-paper{
    padding: 2rem;
    border-radius: 2rem;
    max-width: 70vw;
    color: var(--pDark);
    display: flex;
    gap: 2rem;
}

.dialogSendConfirmation{
    font-size: 1.6rem;
}

@media only screen and (width<768px) {
    .BookContainer *{
        flex-direction: column;
    }

    .detailsContainer{
        margin: 0;
    }

    .detailsInnerContainer{
        gap: 2rem;
    }

    .detailsLabel{
        font-size: 4rem;
    }

    .detailsForm{
        gap: 4rem;
    }

    .detailsInput{
        max-width: 90vw;
    }

    .detailsInput * {
        font-size: 2.5rem!important;
    }

    .MenuItem{
        font-size: 2.5rem!important;
    }

    .serviceContainer{
        margin: 0;
        margin-top: 5rem;
    }

    .serviceLabel{
        font-size: 4rem!important;
    }

    .serviceOption{
        max-width: 90vw;
        flex-direction: row;
        margin-left: 0!important;
        margin-right: 0!important;
    }

    .contentWrap > h3{
        font-size: 2.5rem;
    }

    .contentWrap > h5{
        margin-top: .2rem;
        font-size: 1.4rem;
    }

    .contentWrap > p{
        margin-top: .5rem;
        font-size: 1.8rem;
    }

    .dateContainer{
        margin: 0;
    }

    .dateLabel{
        font-size: 4rem!important;
    }

    .dateInnerContainer * {
        flex-direction: row;
    }

    .dateRange{
        width: 80vw;
    }

    .dateRange * {
        font-size: 2rem!important;
    }

    .timeContainer{
        margin: 0;
        margin-top: 5rem;
    }

    .timeLabel{
        font-size: 4rem;
    }

    .submitContainer{
        margin: 0;
    }

    .submitLabel{
        font-size: 4rem;
    }

    .estimatedPriceContainer{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .estimatedPriceDisplay{
        flex-direction: row;
    }

    .estimatedPriceDisplay *{
        flex-direction: row;
    }

    .priceEstimateNotice{
        font-size: 2rem;
    }

    .bSubmitBooking{
        font-size: 3rem;
    }

    .dialogConfirm .MuiDialog-paper{
        max-width: 90vw;
    }

    .dialogConfirmHeader{
        font-size: 4rem;
    }

    .dialogConfirmParagraph{
        font-size: 2.5rem;
        line-height: calc(2.5rem * 1.6);
    }

    .buttonContainerDialog{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .dialogButton{
        font-size: 3rem;
    }

    .dialogSend .MuiDialog-paper{
        max-width: 90vw;
    }

    .dialogSendConfirmation{
        font-size: 3rem;
    }
}
