.Card{
    /* background: var(--light); */
    /* color: var(--dark); */
    /* padding: 2rem; */
    border-radius: 2rem;
    position: relative;
    z-index: 4;
    cursor: pointer;
}

.nameHeader{
    margin-bottom: 0;
}

.dateHeader{
    align-self: flex-end;
}

.Picture{
    display: flex;
    flex-direction: column;
}

.Picture > img{
    max-width: 50%;
    align-self: center;
    margin-bottom: 1rem;
}

.TestPage{
    margin: 2rem;
    box-shadow: 0 0 30px 0 rgba(46, 87, 107, 0.5);
}

.testCard{
    background: linear-gradient(to right, var(--pDark) 50%, var(--light) 50%);
}

.homeCard{
    background: linear-gradient(to right, var(--light) 50%, var(--pDark) 50%);
}

.testCard .content{
    background: var(--light);
    color: var(--pDark);
}

.homeCard .content{
    background: var(--pDark);
    color: var(--light);
}

.homeCard .content>svg{
    fill: var(--light);
}

.content{
    padding: 2rem;
    border-radius: 2rem 2rem 0 2rem;
}

.testCard .details{
    background: var(--pDark);
    color: var(--light);
}

.homeCard .details{
    background: var(--light);
    color: var(--pDark);
}

.details{
    padding: 1rem 2rem;
    border-radius: 0 2rem 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quote{
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--pDark);
    margin-bottom: 1rem;
}

@media only screen and (width<768px) {
    .Card{
        font-size: 2.5rem;
        line-height: 4.5rem;
    }

    .Card > .content > svg {
        width: 10vw;
        height: 10vw;
    }

    .Card {

    }
}
