.Card{
    background: var(--light);
    color: var(--dark);
    padding: 2rem;
    border-radius: 2rem;
}

.Card > h3{
    font-size: 1.5rem;
}

.Card > h4 {
    font-size: .8rem;
    margin-bottom: 1rem;
    opacity: 0.8;
}

.Picture{
    display: flex;
    flex-direction: column;
}

.Picture > img{
    max-width: 50%;
    align-self: center;
    margin-bottom: 1rem;
}

.Empty{
    background: transparent;
}

@media only screen and (width<768px) {
    .Card{
        font-size: 3rem;
        line-height: 5rem;
        padding: 4rem;
        border-radius: 2rem;
    }

    .Card > h3{
        font-size: 6rem;
    }

    .Card > h4 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
        opacity: 0.8;
    }

    .Empty{
        display: none;
    }
}
