.CatsContainer{
    width: 30vw;
    height: 30vw;
    overflow: visible;
    position: relative;
    margin-top: 10rem;
}

.CatsBlob{
    transform: scale(1.6);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 5rem;
}

.Cat{
    width: 30vw;
    position: absolute;
    bottom: 0;
    transform-origin: center;
    transition: all 2s;
    transform: rotate(0) scale(0);
}

.Cat1{
    animation: ShowCat 108s linear infinite 0s;
}

.Cat2{
    animation: ShowCat 108s linear infinite 12s;
}

.Cat3{
    animation: ShowCat 108s linear infinite 24s;
}

.Cat4{
    animation: ShowCat 108s linear infinite 36s;
}

.Cat5{
    animation: ShowCat 108s linear infinite 48s;
}

.Cat6{
    animation: ShowCat 108s linear infinite 60s;
}

.Cat7{
    animation: ShowCat 108s linear infinite 72s;
}

.Cat8{
    animation: ShowCat 108s linear infinite 84s;
}

.Cat9{
    animation: ShowCat 108s linear infinite 96s;
}

@keyframes ShowCat {
    1.85%, 9.26%{
        transform: rotate(360deg) scale(0.8);
    }
    11.11%, 100%{
        transform: rotate(0) scale(0);
    }
}
