.LoadingDiv{
    width: 100vw;
    height: 100vh;
    background: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.HouseName{
    width: 70vw;
}

.HouseName * {
    color: var(--pDark);
    fill: var(--pDark);
    stroke: var(--pDark);
}

.LoadingPaws{
    width: 20vw;
    fill: var(--pDark);
    stroke: var(--pDark);
}

.LoadingPaws>*{
    opacity: 0;
    transition: all 2s ease;
}

.LoadingPaws>*:nth-child(1){
    animation: paw1 3.9s ease-in-out infinite alternate;
}

.LoadingPaws>*:nth-child(2){
    opacity: 0.14;
    animation: paw1 3.9s ease-in-out infinite alternate .5s;
}

.LoadingPaws>*:nth-child(3){
    opacity: 0.28;
    animation: paw1 3.9s ease-in-out infinite alternate 1s;
}

.LoadingPaws>*:nth-child(4){
    opacity: 0.42;
    animation: paw1 3.9s ease-in-out infinite alternate 1.5s;
}

.LoadingPaws>*:nth-child(5){
    opacity: 0.56;
    animation: paw1 3.9s ease-in-out infinite alternate 2s;
}

.LoadingPaws>*:nth-child(6){
    opacity: 0.7;
    animation: paw1 3.9s ease-in-out infinite alternate 2.5s;
}

.LoadingPaws>*:nth-child(7){
    opacity: 0.84;
    animation: paw1 3.9s ease-in-out infinite alternate 3s;
}

.LoadingPaws>*:nth-child(8){
    opacity: 0.98;
    animation: paw1 3.9s ease-in-out infinite alternate 3.5s;
}

.LoadingPaws>*:nth-child(9){
    opacity: 1;
    animation: paw1 3.9s ease-in-out infinite alternate 4s;
}

.LoadingPaws>*:nth-child(10){
    opacity: 0.98;
    animation: paw1 3.9s ease-in-out infinite alternate 4.5s;
}

.LoadingPaws>*:nth-child(11){
    opacity: 0.84;
    animation: paw1 3.9s ease-in-out infinite alternate 5s;
}

.LoadingPaws>*:nth-child(12){
    opacity: 0.7;
    animation: paw1 3.9s ease-in-out infinite alternate 5.5s;
}

.LoadingPaws>*:nth-child(13){
    opacity: 0.56;
    animation: paw1 3.9s ease-in-out infinite alternate 6s;
}

.LoadingPaws>*:nth-child(14){
    opacity: 0.42;
    animation: paw1 3.9s ease-in-out infinite alternate 6.5s;
}

.LoadingPaws>*:nth-child(15){
    opacity: 0.28;
    animation: paw1 3.9s ease-in-out infinite alternate 7s;
}

.LoadingPaws>*:nth-child(16){
    opacity: 0.14;
    animation: paw1 3.9s ease-in-out infinite alternate 7.5s;
}

@keyframes paw1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
