.AboutContainer{
    margin-top: 5rem;
    width: 100vw;
    height: 200vh;          /*Temp*/
}

.AboutHeader{
    color: var(--pDark);
    margin: -1rem 1rem 1rem 3rem;
    font-size: 4rem;
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light);
}
