:root{
    --imagePadding: 2.5rem;
}

.HomeDiv{
    max-width: 100vw;
    overflow-x: hidden;
}

.HomeDiv > *{
    overflow-x: hidden;
}

/* Home about styling */
.AboutContainer{
    margin-top: 10rem;
    width: 100vw;
    padding: 2.5rem 0;
}

.AboutLabel{
    color: var(--pDark);
    margin: -1rem 1rem 3rem 3rem;
    font-size: 4rem;
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light);
}

.AboutMain{
    display: flex;
    padding: 0 5rem;
    gap: 5rem;
}

.AboutMainContent{
    font-size: 2rem;
    color: var(--pDark);
    line-height: calc(2rem * 1.6);
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light);
}

.AboutMain > .swiper-container{
    width: 40vw;
}

.aboutImage{
    height: 25vw;
    min-width: 40vw;
    max-width: 40vw;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 0 1.4rem 0 rgba(56, 108, 133, 0.3);
}

/* Home gallery styling */
.CarouselContainer{
    margin-top: 5rem;
    width: 100vw;
    padding: 2.5rem 0;
    /* background: var(--pDark); */
}

.CarouselLabel{
    color: var(--pDark);
    margin: -1rem 1rem 1rem 3rem;
    font-size: 4rem;
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light);
}

.Image{
    height: 35vw;
    min-width: 50vw;
    max-width: 50vw;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 0 1.5rem 0 rgba(46, 87, 107, 0.5);
}

.bGalleryMain{
    font-size: 1.3rem;
    border: 0.1rem solid var(--pDark);
    color: var(--pDark);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
}

.bTestimonialsMain{
    font-size: 1.3rem;
    border: 0.1rem solid var(--pDark);
    color: var(--pDark);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.4rem;
}


/* Home testimonial styling */
.CarouselCardContainer{
    margin: 10rem 0;
    width: 100vw;
    padding: 2.5rem 0;
    /* background: var(--pDark); */
}

.TestimonialCarouselLabel{
    color: var(--pDark);
    margin: -6rem 1rem 4rem 3rem;
    font-size: 4rem;
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light);
}

.CarouselCardContainer .swiper-slide .homeCard{
    transition: all 1.6s ease;
}

.CarouselCardContainer .swiper-slide-active .homeCard{
    background: var(--pDark);
    color: var(--light);
}

.CarouselCardContainer .swiper-slide .homeDisplayMore{
    transition: all 1.6s ease;
    padding: 2rem;
    margin-top: -2rem;
    padding-top: 4rem;
    transform-origin: top;
    transform: scaleY(0);
}

.CarouselCardContainer .swiper-slide-active .homeDisplayMore{
    /* transition: all 1.6s ease 1.6s;
    transform: scaleY(1); */
    /* box-shadow: 0 0 1.5rem 0 rgba(46, 87, 107, 0.5); */
    animation: ShowHomeMore 7s ease;
    padding: 2rem;
    margin-top: -2rem;
    padding-top: 4rem;
}

@keyframes ShowHomeMore {
    22.85%{
        box-shadow:none;
        transform: scaleY(0);
    }
    45.71%, 77.14%{
        box-shadow: 0 0 1.5rem 0 rgba(46, 87, 107, 0.5);
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
        box-shadow: none;
    }
}

.homeCard{
    box-shadow: 0 0 1.5rem 0 rgba(46, 87, 107, 0.5);
    /* width: 100vw; */
}

.homeDisplayMore{
    /* box-shadow: 0 0 1.5rem 0 rgba(46, 87, 107, 0.5); */
    /* width: 100vw; */
}

/* Swiper Styling */
.swiper-container{
    overflow-x: hidden!important;
    overflow: visible!important;
}

.CarouselContainer .swiper-slide{
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    opacity: 0.6;
    transform-origin: center;
    transform: scale(0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: visible;
    z-index: 50;
}

.CarouselContainer .swiper-slide-active{
    transform-origin: center;
    transform: scale(1);
    opacity: 1;
    z-index: 51;
}


/* Illustration styling */
.IllustrationContainer{
    position: relative;
}

.CTAContainer{
    position: absolute;
    right: -2.5%;
    top: 30%;
}

.LandingHeader{
    max-width: 30vw;
    margin-right: 5rem;
    font-size: 4rem;
    color: var(--pDark);
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light);
}

.bBookLanding{
    font-size: 2rem;
    margin-top: 4rem;
    background-color: var(--pDark);
    color: var(--light);
    background-image: linear-gradient(var(--primary), var(--primary));
}

.bBookLanding::before, .bBookLanding::after{
    background: var(--primary);
}
