:root{
    --imagePadding: 2.5rem;
}
.MainContainer{
    height: 200vh;
}

/* Home gallery styling */
.CarouselContainer{
    margin-top: 10rem;
    width: 100vw;
    padding: 2.5rem 0;
    /* background: var(--pDark); */
}

.CarouselLabel{
    color: var(--pDark);
    margin: -1rem 1rem 1rem 3rem;
    font-size: 4rem;
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light);
}

.Image{
    height: 35vw;
    min-width: 50vw;
    max-width: 50vw;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 0 30px 0 rgba(46, 87, 107, 0.5);
}

.bGalleryMain{
    font-size: 1.3rem;
    border: 0.1rem solid var(--pDark);
    color: var(--pDark);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
}


/* Home testimonial styling */
.CarouselCardContainer{
    margin-top: 10rem;
    width: 100vw;
    padding: 2.5rem 0;
    /* background: var(--pDark); */
}

.TestimonialCarouselLabel{
    color: var(--pDark);
    margin: -1rem 1rem 1rem 3rem;
    font-size: 4rem;
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light);
}

.homeCard{
    /* width: 100vw; */
}

.homeCard:hover, .homeCard:focus{
  cursor: pointer;
}


/* Swiper Styling */
.CarouselContainer .swiper-container{
    overflow-x: hidden!important;
    overflow: visible!important;
}

.CarouselContainer .swiper-slide{
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    opacity: 0.6;
    transform-origin: center;
    transform: scale(0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: visible;
    z-index: 50;
}

.CarouselContainer .swiper-slide-active{
    transform-origin: center;
    transform: scale(1);
    opacity: 1;
    z-index: 51;
}


/* Illustration styling */
.IllustrationContainer{
    position: relative;
}

.CTAContainer{
    position: absolute;
    right: -2.5%;
    top: 30%;
}

.LandingHeader{
    max-width: 35vw;
    font-size: 4rem;
    color: var(--pDark);
    text-shadow: 0.3rem 0.3rem 0.2rem var(--light);
}

.bBookLanding{
    font-size: 2rem;
    margin-top: 4rem;
    background-color: var(--pDark);
    color: var(--light);
    background-image: linear-gradient(var(--primary), var(--primary));
}

.bBookLanding::before, .bBookLanding::after{
    background: var(--primary);
}
