:root{
    --imagePadding: 2.5rem;
}
.MainContainer{
    height: 200vh;
}

.CarouselContainer{
    margin-top: 10rem;
    width: 100vw;
    padding: 2.5rem 0;
    background: var(--pDark);
}

.CarouselLabel{
    color: var(--light);
    margin: -1rem 1rem 1rem 3rem;
    font-size: 3rem;
}

.Image{
    height: 25vw;
    max-width: 30vw;
    border-radius: 1rem;
    object-fit: fill;
}

/* .CarouselContainer .slick-slide{
    margin: 0 2rem;
} */

.CarouselCardContainer .slick-slide{
    margin: 0 .6rem;
}

.homeCard{
    /* width: 100vw; */
}

.homeCard:hover, .homeCard:focus{
  cursor: pointer;
}
