.HomeIllustrationContainer{
    width: 100%;
    height: 100vh;
    position: relative;
}

.HomeIllustration{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 0;
    bottom: 0;
}

.CloudContainer{
    position: absolute;
    width: 100%;
}

.Tree1{
    transform-origin: bottom;
    animation: Wind 2s linear infinite alternate;
}

.Tree2{
    transform-origin: bottom;
    animation: Wind 2s linear infinite alternate .5s;
}

.Leaf1{
    transform-origin: bottom;
    animation: Wind 2s linear infinite alternate .7s;
}

.Leaf2{
    transform-origin: bottom;
    animation: Wind 2s linear infinite alternate .8s;
}

.Leaf3{
    transform-origin: bottom;
    animation: Wind 2s linear infinite alternate .92s;
}

.Hair{
    transform-origin: center;
    animation: Hair 2s linear infinite alternate .7s;
}

@keyframes Hair {
    0%{
        transform: skewX(-.5deg);
    }
    50%{
        transform: skewX(0);
    }
    100%{
        transform: skewX(.5deg);
    }
}

@keyframes Wind {
    0%{
        transform: skewX(-2deg);
    }
    50%{
        transform: skewX(0);
    }
    100%{
        transform: skewX(2deg);
    }
}

.Cloud1{
    animation: Cloud1 120s linear infinite;
}

.Cloud2{
    animation: Cloud2 90s linear infinite;
}

@keyframes Cloud1 {
    0%{
        transform: translateX(-55%);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes Cloud2 {
    0%{
        transform: translateX(-115%);
    }
    100%{
        transform: translateX(40%);
    }
}

.LandingArrow{
    position: absolute;
    left: 1rem;
    bottom: 0;
    width: 5rem;
}

.LandingArrow > *{
    fill: var(--pDark);
    animation: ArrowPoint 4s ease infinite;
}

@keyframes ArrowPoint {
    0%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(100%);
    }
}
