@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

:root{
    --primary: hsl(200, 60%, 60%);
	--pLight: hsl(200, 80%, 90%);
	--pDark: hsl(200, 40%, 30%);
	--secondary: hsl(199, 30%, 60%);
	--sLight: hsl(199, 92%, 92%);
	--sDark: hsl(199, 25%, 20%);
    --light: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 0%);
    --grey: hsl(0, 0%, 35%);
    font-size: 1vw;
    --textShadowOffset: 0.3rem;
    --textShadowValue: 0.2rem;
    --vh: 1vh;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: var(--pLight);
    font-family: "Alice", serif;
    font-weight: bold;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

html, body{
    max-width: 100vw;
    overflow-x: hidden;
    height: auto!important;
}

.simplebar-track{
    background: transparent;
    overflow-x: hidden;
}

.simplebar-scrollbar::before{
    background-color: var(--pDark)!important;
    opacity: 1!important;
    border-radius: 9999vw 0 0 9999vw!important;
    right: 0!important;
    left: 40%!important;
}

.simplebar-hover::before, .simplebar-dragging::before{
    background-color: var(--pDark)!important;
    left: 20%!important;
}

.simplebar-track.simplebar-horizontal {
    display: none!important;
}

.MainPageDiv {
  position: absolute!important;
  top: 0;
  left: 0;
  right: 0;
}

.PageChange-appear,
.PageChange-enter {
    opacity: 0;
    z-index: 1;
}
.PageChange-appear-active,
.PageChange-enter.PageChange-enter-active {
    opacity: 1;
    transition: opacity 500ms linear 250ms;
}

.PageChange-exit {
    opacity: 1;
}

.PageChange-exit.PageChange-exit-active {
    opacity: 0;
    transition: opacity 250ms linear;
}
